{% extends 'base.html.twig' %}

{% block title %}Hello AccueilTwigController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendrier') }}
{% endblock %}
 
{% block body %}
    {# ... Votre contenu existant ... #}

    {# Ajoutez cette div avec l'ID "calendrier" #}
    <div id="calendrier" data-calendrier="{{ evenementsJSON }}" class="calendar"></div>

    {# Ajoutez cette ligne pour inclure le script du calendrier #}
    {{ encore_entry_script_tags('calendrier') }}
{% endblock %}
